# Connect to RDBMS in Python
## Use pyscopg2 and then run SQL

In [1]:
import psycopg2
from psycopg2 import OperationalError


def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [2]:

# Connection details
db_name = "AdventureworksDW"
db_user = "postgres"
db_password = "postgres"  # Update with your password
db_host = "localhost"  # Update if your DB is hosted elsewhere
db_port = "5432"

# Create the connection
connection = create_connection(db_name, db_user, db_password, db_host, db_port)

Connection to PostgreSQL DB successful

In [3]:
# run raw SQL with the connection and view the results
cursor = connection.cursor()
cursor.execute("SELECT * FROM dimcustomer LIMIT 10")
result = cursor.fetchall()
for row in result:
    print(row)
    break

(11000, 26, 'AW00011000', None, 'Jon', 'V', 'Yang', False, datetime.date(1971, 10, 6), 'M', None, 'M', 'jon24@adventure-works.com', '$90,000.00', 2, 0, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '1', 0, '3761 N. 14th St', None, '1 (11) 500 555-0162', datetime.date(2011, 1, 19), '1-2 Miles')

## Use pandas to connect and read SQL

In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
connection_url = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create the engine
engine = create_engine(connection_url)

In [8]:
df = pd.read_sql_query("SELECT * FROM dimcustomer LIMIT 10", engine)

In [9]:
df

,customerkey,geographykey,customeralternatekey,title,firstname,middlename,lastname,namestyle,birthdate,maritalstatus,...,englishoccupation,spanishoccupation,frenchoccupation,houseownerflag,numbercarsowned,addressline1,addressline2,phone,datefirstpurchase,commutedistance
0,11000,26,AW00011000,None,Jon,V,Yang,False,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,False,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,False,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,False,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,False,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
5,11005,22,AW00011005,None,Julio,None,Ruiz,False,1976-08-01,S,...,Professional,Profesional,Cadre,1,1,7305 Humphrey Drive,None,1 (11) 500 555-0151,2010-12-30,5-10 Miles
6,11006,8,AW00011006,None,Janet,G,Alvarez,False,1976-12-02,S,...,Professional,Profesional,Cadre,1,1,2612 Berry Dr,None,1 (11) 500 555-0184,2011-01-24,5-10 Miles
7,11007,40,AW00011007,None,Marco,None,Mehta,False,1969-11-06,M,...,Professional,Profesional,Cadre,1,2,942 Brook Street,None,1 (11) 500 555-0126,2011-01-09,0-1 Miles
8,11008,32,AW00011008,None,Rob,None,Verhoff,False,1975-07-04,S,...,Professional,Profesional,Cadre,1,3,624 Peabody Road,None,1 (11) 500 555-0164,2011-01-25,10+ Miles
9,11009,25,AW00011009,None,Shannon,C,Carlson,False,1969-09-29,S,...,Professional,Profesional,Cadre,0,1,3839 Northgate Road,None,1 (11) 500 555-0110,2011-01-27,5-10 Miles

## Use atoti to connect and read SQL

In [10]:
import atoti as tt

Welcome to Atoti 0.8.11!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

In [11]:
session = tt.Session()

In [13]:
jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}"

In [14]:
customer_table = session.read_sql(
    "SELECT * FROM dimcustomer LIMIT 10",
    keys=["customerkey"],
    table_name="Customer",
    url=jdbc_url,
)

In [15]:
customer_table

## Use pgAdmin
pgAdmin is a web based interface for you to monitor, view and operate on the postgresql database
## Use command line psql
psql is a command line tool you can use to connect to the database server
## Use PowerBI[Optional]
You can also hook the postgresql to the PowerBI and do the visualization directly